@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url("/images/stage-bg-events.jpg");
}

// Effekte für Slides/Fades

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.8s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease forwards;
}
